body {
  margin: 0;
  font-family: system-ui;
  background: #121212;
  color: white;
}

.app {
  padding: 16px;
}

h1 {
  text-align: center;
}

.card {
  background: #1e1e1e;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, button {
  width: 100%;
  margin-top: 6px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

button {
  background: #4CAF50;
  color: white;
  font-size: 16px;
  margin-top: 16px;
}
